* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(243, 243, 243);
}

header {
    display: flex; 
    align-items: center; 
    position: relative; 
    height: 60px; 
    background-color: #c5c5c556;
    border-radius: 20px;
    padding: 0 20px; 
    margin: 15px;
}

#div2 {
    text-align: left; 
    flex: 0 0 auto;
    margin-left: 300px;
}

#div1 {
    position: absolute; /* Pozycjonowanie przycisków */
    left: 50%; /* Przesunięcie do środka */
    transform: translateX(-50%); /* Wycentrowanie przycisków */
    display: flex;
    gap: 20px; 
}

#div3 {
  position: absolute; 
  right: 10%; 
  display: flex;
  gap: 20px; 
}

#btn-github {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(119, 119, 119);
  --btn-bg-2: rgb(17, 17, 17);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);

}

#btn-github:hover {
  background-position: right top;
}

#Btn, #Btn2 {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 3px 3px 6px #797979;
  margin-right: 10px; 
}

#Btn:hover, #Btn2:hover {
  border: 1px solid white;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Arial', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0; 
  top: calc(100% + 5px); 
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: #333;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.open .dropdown-content {
  display: block;
}

#div1 {
  display: flex;
  align-items: center; 
  gap: 10px; 
}


#n1 {
  color: #1f75ff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  font-style: italic;
}

#m1 {
  height: 1196px;
  padding: 0 20px; 
  margin: 15px;
  border-radius: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#n2 {
  text-align: center;
  padding-bottom: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}

#m2 {
  background-color: aqua;
  height: 1096px;
  padding: 0 20px; 
  margin: 15px;
  border-radius: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #000;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 60px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-me, .contact {
  margin: 50px 20px;
}

.nn2 {
  height: 196px;
  padding: 0 20px; 
  margin: 15px;
  border-radius: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

footer {
  padding: 20px;
  height: 30px;
  background-color: #c5c5c583;
  color: #333; 
  text-align: center; 
}